html {
    height: 100%;
    width: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Bradley Hand, cursive;
}

/* Change the color of links on hover */
h1 {
    font-family: Bradley Hand, cursive;
    color: white;
}
h2 {
    color: white;
}
label {
    font-family: Bradley Hand, cursive;
    color: white;
}
.Name-Container {
    display: flex;
}